main {
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: var(--rosa-escuro);
}

main::-webkit-scrollbar-thumb {
  background: var(--rosa);
  border-radius: 25px;
}

.formSala {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: var(--preto);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.formSala button {
  width: 20%;
  background-color: var(--verde);
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: var(--branco);
  outline: none;
  border: none;
  padding: 0 10px;
}
